*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b07b00;
}

.tab{
    background-color: #1e1e1e;
    width: 100%;
    padding: 40px 0;
}

.tab-container-1{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.tab-container-1 div{
    text-align: center;
    color: #9e9e9e;
}

.tab-container-1 div:hover{
    color: white;
    cursor: pointer;
}